.main{
    background-color: var(--bg-navbar-color);
    max-height:80px;
    .brand{
        color: var(--text-logo-color);
        font-weight: bold;
        width: 90px;
        height: auto;
        
        .wrapLogo{
            width: 90px;
            height: 100%;
            .imgLogo{
            // margin: 5px;
            width: 90%;
            height: 90%;
        }
        }
    }
    .btnMenu{

    }
    .Collapse{
        .nav{
            .itemNav{
                font-weight:600;
                font-size: 1.3rem;
                color: var(--text-color);
            }
            .itemNav:hover{
                color: aqua;
            }
            .dropdown{
                a{
                   
                    color: var(--text-color);
                    
                }
                .dropdownItem{
                    // color: var(--text-color);
                    // color: black;
                }
            }
        }
    }
    .blockRight{

        .btnTranslate{
            
        }
        .btnTranslate:hover{
            background-color: var(--bg-hover-color);
        }
        .btnTranslate:focus{
            box-shadow: none;
            
        }
        .userWrap{
            padding: 0px 5px;
            .decription{
                .nameUser{
                    margin: 0;
                }
                .dropdown{
                    
                    a{
                        color:  rgba(121,121,121,0.4);;
                        padding: 0;
                        font-weight: 700;
                        // padding: 0;
                        float: right;
                    }
                    .dropdownItem{
                        padding: 0px 10px;

                        color:rgba(121,121,121,1)
                    }
                }
            }
           
        }
        .imgAvatar{
           
            padding: 2px;
            width: 45px;
            height: 45px;
            
          
            border-radius: 50px;
            background-color: rgb(255, 255, 255);
            .imgAvatarItem{
                width: 100%;
                height: 100%;
                border-radius: 50px;
            }
        }
    }
}